.card {
  border: 1px solid grey;
  border-radius: 5px;
  width: 240px;
  background-color: rgb(223, 223, 223);
  &__container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-content: center;
    align-items: center;
  }
  &__image {
    width: 100px;
  }
  &__id {
    background-color: rgb(180, 180, 180);
    padding: 3px 10px;
  }
}

.card-bottom {
  background-color: white;
  &__name {
    margin-top: 10px;
    padding: 5px 20px;
    border-top: 1px solid black;
    text-transform: capitalize;
  }
  &__typesContainer {
    text-transform: capitalize;
    display: inline-block;
    flex-direction: row;
    // justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
  }
}

.card-bottom__typesItem {
  border: 1px solid rgb(180, 180, 180);
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  margin: 5px 10px;
  padding: 5px;
  font-size: 12px;
  justify-items: center;
}
