* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  /* background-image: url("./images/bkground.png");
  background-size: cover;
  background-repeat: no-repeat; */
}

ul {
  list-style: none;
}

li {
  list-style: none;
}
